{% extends 'base.html' %}

{% block nav %}
<ul id="nav" class="navbar-nav mr-auto">
    <li class="nav-item active">
        {% block nav-home %}
            <a class="nav-link" href="{% url 'Recruiter:home' %}">Home</a>
        {% endblock %}
    </li>
    <li class="nav-item">
        {% block nav-questions %}
            <a class="nav-link" href="{% url 'Recruiter:questions' %}">Questions</a>
        {% endblock %}
    </li>
    <li class="nav-item">
        {% block nav-add-question %}
            <a class="nav-link" href="{% url 'Recruiter:addQuestion' %}">Add question</a>
        {% endblock %}
    </li>
</ul>
{%  endblock %}

{% block breadcrumb %}
    Home
{% endblock %}


{% block content %}
  <h2>Home</h2>
{% endblock %}